:root {
    --white: #ffffff;
    --black: #000000;
    --black-blur: #0000006e;
    --grey: #8A8080;
    --grey-soft: #F6F9F9;
    --brown: #CC6F2D;
    --brown-dark: #D68742;
    --green: #4BFEAD;
    --purple: #CCBBDC;
    --blue: #9EDCDE;
}