/* ---------------------- Imports ---------------------- */
@import 'normalize.css';
@import 'colors.css';
@import 'fonts.css';


/* ---------------------- Containers & contents ---------------------- */
.view {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: url('../assets/images/bg-west.jpg') no-repeat;
  background-size: cover;
  background-position-y: -177px;
}

.main-container {
  width: 1000px;
  min-width: 1000px;
  height: 555px;
  min-height: 555px;
  margin: 3rem;
  background-color: var(--black);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 4px solid var(--black);
  border-radius: 10px;
  overflow: hidden;
}

.balls-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('../assets/images/west.jpg') no-repeat;
  background-position-x: -350px;
  background-size: cover;
  position: relative;
}

.aside-container {
  width: max-content;
  min-width: max-content;
  height: 563px;
  min-height: 563px;
  margin: 3rem 3rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.info-container {
  width: 370px;
  min-width: 370px;
  height: 200px;
  min-height: 200px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  background: url('../assets/images/planks.jpg') no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: 4px solid var(--black);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.buttons-container {
  width: 370px;
  min-width: 370px;
  height: 300px;
  min-height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  background: url('../assets/images/planks.jpg');
  background-size: cover;
  background-position-y: 14px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: 4px solid var(--black);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.title-container {
  width: 300px;
  height: 107px;
  position: relative;
  text-align: center;
  top: 0px;
}

.button-content {
  margin-left: 30px;
  position: relative;
}

.popup-container {
  width: 300px;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  border: 3px solid var(--black);
  box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 10px, rgba(0, 0, 0, 0.27) 0px 4px 6px;
  background: url('../assets/images/planks.jpg') no-repeat;
  background-size: cover;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 158px;
  opacity: 0;
}

.show-popup-container {
  opacity: 1;
  -webkit-animation: show-popup-container 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: show-popup-container 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes show-popup-container {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show-popup-container {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.close-popup-container {
  -webkit-animation: close-popup-container 1s ease-out both;
  animation: close-popup-container 1s ease-out both;
}

@-webkit-keyframes close-popup-container {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes close-popup-container {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/* ---------------------- Balls ---------------------- */
.green-ball {
  position: absolute;
  bottom: 7px;
  right: 380px;
}

.purple-ball {
  position: absolute;
  bottom: 50px;
  right: 80px;
}

.blue-ball {
  position: absolute;
  bottom: 15px;
  left: 500px;
}


/* ---------------------- Buttons ---------------------- */
.all-buttons {
  width: 150px;
  height: 50px;
  background-color: var(--black-blur);
  border: 3px solid var(--black);
  box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 10px, rgba(0, 0, 0, 0.27) 0px 4px 6px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.all-buttons:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 19px, rgba(0, 0, 0, 0.39) 0px 6px 6px;
  border-color: var(--grey-soft);
  transform: scale(1.1);
}

.all-buttons:active {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: scale(1);
}

#btn-green:hover>.button-texts {
  color: var(--green);
}

#btn-green:active {
  border-color: var(--green);
}

#btn-purple:hover>.button-texts {
  color: var(--purple);
}

#btn-purple:active {
  border-color: var(--purple);
}

#btn-blue:hover>.button-texts {
  color: var(--blue);
}

#btn-blue:active {
  border-color: var(--blue);
}


/* ---------------------- Interactive buttons ---------------------- */
.stars-icon {
  position: absolute;
  top: 50px;
  left: -99px;
}

.nut-icon {
  position: absolute;
  bottom: -72px;
  left: 153px;
}


/* ---------------------- Texts ---------------------- */
.title {
  font-family: 'old-west';
  color: var(--brown);
  text-shadow: 2px 0 var(--black), -2px 0 var(--black), 0 2px var(--black), 0 -2px var(--black),
    1px 1px var(--black), -1px -1px var(--black), 1px -1px var(--black), -1px 1px var(--black);
  font-size: 43px;
  letter-spacing: 7px;
  margin: 12px 0 0 0;
  user-select: none;
}

.button-texts {
  font-family: 'old-west';
  color: var(--grey-soft);
  font-size: 28px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(6, 6, 6, 0.551);
  margin-top: 5px;
  user-select: none;
}

.popoup-text {
  font-family: 'wild-west';
  color: var(--grey-soft);
  text-shadow: 1px 0 var(--black), -1px 0 var(--black), 0 1px var(--black), 0 -1px var(--black),
    1px 1px var(--black), -1px -1px var(--black), 1px -1px var(--black), -1px 1px var(--black);
  font-size: 19px;
  letter-spacing: 1px;
  user-select: none;
}


/* ---------------------- Higher specification ---------------------- */
.pointer {
  cursor: pointer !important;
}